@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
.ig.list
  float left
  width 610px
  .itm
    display block
    float left
    width (610px / 4)
    text-align center
    padding-bottom 10px
    .title
      float left
      width 100%
      text-align center
      font-weight bold
      color black
      span
        font-weight normal
    &:nth-child(4n+1)
      clear left
    &:hover
      .title b
        text-decoration underline !important

